.total {
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}

.btnCheckout {
    background-color: #0d6efd !important;
    color: white !important;
}

.btnCheckout:hover {
    background-color: #064fbc !important;
}