
/* Estilos para las secciones que tiene clase textMisionVision */
.sobreNosotros {
    margin-top: 30px; 
}

.sobreNosotros p {
    text-align: left; 
}

.areaElectricaySoftware {
    margin-top: 30px; 
}
  
.areaElectricaySoftware h2 {
    font-weight: bold; 
}

.areaElectricaySoftware p {
    text-align: left; 
}
  
.areaTratamientoDeAgua {
    margin-top: 30px; 
}
  
.areaTratamientoDeAgua h2 {
    font-weight: bold; 
}

.areaTratamientoDeAgua p {
    text-align: left; 
}

.introduccion{
    text-align: left;
}